<header>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Queue", queue_path %></li>
      <li><%= link_to "Add", add_path %></li>
    </ul>
  </nav>
</header>

